Source: huayra-fonts
Section: main
Priority: extra
Maintainer: Iván Hoffmann <digital.h@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-fonts
Vcs-Git: https://github.com/HuayraLinux/huayra-fonts.git

Package: huayra-fonts
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fuentes para Huayra
 Contiene fuentes de Omnibus-Type.com
 Contiene fuentes de http://opendyslexic.org/
 Contiene fuentes Commodore 64 por Devin Cook
